<!-- <app-carousel></app-carousel> -->
<div class="banner">
  <div class="row">
    <div class="col-7 my_title">
      <h1>Today deal sale off <b>70%</b>. Hurry Up!</h1>
      <p>Hurry up the offer is for the limited time only!!</p>
      <button class="default-btn">Explore Now <i class="bi bi-caret-right"></i></button>
    </div>
    <div class="col-5 d-flex align-items-start pt-4">
      <img src="/assets/images/modals/lady.png" alt="lady" class="image">
    </div>
  </div>
</div>
<div class="container mt-4 mb-5">
  <!-- Display Category Section -->
  <div class="row p-2">
    <div class="col-lg-6 col-md-12">
      <div class="row">
        <div class="col-5 p-2">
          <div class="out_box women alignjustifycenter">
            <div class="default-btn-2 btn_shadow">
              Women
            </div>
          </div>
        </div>
        <div class="col-7 p-2 ">
          <div class="out_box">

            <div class="in_box mb-2 shoe">
              <div class="default-btn-2 btn_shadow">
                Shoes
              </div>
            </div>
            <div class="in_box pt-2 bag">
              <div class="default-btn-2 btn_shadow">
                Bags
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-12">
      <div class="row">

        <div class="col-5  p-2">
          <div class="out_box watch alignjustifycenter">

            <div class="default-btn-2 btn_shadow">
              Watch
            </div>
          </div>
        </div>
        <div class="col-7 p-2">
          <div class="out_box men alignjustifycenter">

            <div class="default-btn-2 btn_shadow">
              Man
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Display Category Section Ends  -->

  <div class="row headings p-4">
    <h1>------ Trending ------</h1>
    <p> <i>
        Top in this week
      </i>
    </p>
  </div>
  <!--  -->
  <div>
    <app-product-card></app-product-card>
  </div>

  <div class="row headings p-4">
    <h1>------ Most Liked ------</h1>
    <p> <i>
        Most Liked this week
      </i>
    </p>
  </div>
  <div>
    <app-product-card></app-product-card>
  </div>

  <div class="row headings p-4">
    <h1>------ From Blogs ------</h1>
    <p> <i>
        Top liked blogs
      </i>
    </p>
  </div>
  <div>
    <app-product-card></app-product-card>
  </div>
</div>