<!-- <app-carousel></app-carousel> -->
<div class="banner">
  <div class="row">
    <div class="col-7 my_title">
      <h1>Today deal sale off <b>70%</b>. Hurry Up!</h1>
      <p>Hurry up the offer is for the limited time only!!</p>
      <button class="default-btn">Explore Now <i class="bi bi-caret-right"></i></button>
    </div>
    <div class="col-5 d-flex align-items-start pt-4">
      <img src="/assets/images/modals/lady.png" alt="lady" class="image">
    </div>
  </div>
</div>
<div class="container">
  <div class="row p-2">
    <div class="col-lg-6 col-md-12">
      <div class="row">
        <div class="col-5 p-2">
          <div class="out_box women">
            1
          </div>
        </div>
        <div class="col-7 p-2 ">
          <div class="out_box">

            <div class="in_box mb-2 shoe">
              2
            </div>
            <div class="in_box pt-2 bag">
              3
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-12">
      <div class="row">

        <div class="col-5  p-2">
          <div class="out_box watch">

            4
          </div>
        </div>
        <div class="col-7 p-2">
          <div class="out_box men">

            5
          </div>
        </div>
      </div>
    </div>
  </div>
</div>